aiostream~=0.4.5
asyncio-mqtt==0.16.1
beanie==1.19.2
gpib-ctypes>=0.3.0
prologix-gpib-async~=1.4.10
pydantic==1.10.8
python-decouple==3.8
simplejson==3.19.1
async_gpib~=2.1.1
hp3478a_async~=1.4.1
tinkerforge_async~=1.4.2
labnode_async~=0.16.1
