aiostream==0.4.3
asyncio-mqtt==0.10.0
beanie==1.7.0
python-decouple==3.5
simplejson==3.17.5
-e git+https://github.com/PatrickBaus/pyAsyncPrologixGpib#egg=prologix_gpib_async
-e git+https://github.com/PatrickBaus/pyAsyncHP3478A#egg=hp3478a_async
-e git+https://github.com/PatrickBaus/TinkerforgeAsync@generators#egg=tinkerforge_async
-e git+https://github.com/PatrickBaus/LabNode#egg=labnode_async
